body {
    margin: 0;
}

.content {
    background: url("../images/bg.png");
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    z-index: -10;
    zoom: 1;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
}

.content-box {
    width: 30%;
    height: 300px;
    margin: 10% auto;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.76);
    overflow: hidden;
}

.head {
    display: flex;
    height: 10%;
    border-bottom: 1px solid #aaa;
}

.div-file {
    width: 100%;
    text-align: center;
    height: 100%;
    padding-top: 10px;
    background-color: #4ba2ee;
    color: #fff;
    font-weight: 600;
}

.filebody {
    margin: 20px;
    height: 72%;
    overflow: auto;
}

.file {
    width: 100%;
    height: 12%;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 6px;
}

.file:hover {
    background-color: #4ba2ee;
    color: #fff;
}

/*包含以下四种的链接*/
a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding-top: 2px;
    color: #000;
}

/*正常的未被访问过的链接*/
a:link {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/*已经访问过的链接*/
a:visited {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: #000;
}

/*鼠标划过(停留)的链接*/
a:hover {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: #fff;
}

/* 正在点击的链接*/
a:active {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: #fff;
}