<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>DES and MD5</title>
    <link href="../static/style.css" rel="stylesheet">
</head>
<body>
<div class="content">
    <div class="content-box">
        <div class="head">
            <div class="head-message action" id="login">登录</div>
            <div class="head-message" id="sigin">注册</div>
        </div>
        <div class="login" id="for-login">
            <form>
                <div class="message">
                    <div class="message-div">账号</div>
                    <div class="message-input"><input class="message-text" type="text" placeholder="username"
                                                      autocomplete="off"></div>
                </div>
                <div class="message">
                    <div class="message-div">密码</div>
                    <div class="message-input"><input class="message-text" type="password" placeholder="password"
                                                      autocomplete="off"></div>
                </div>
            </form>
            <button class="but">登录</button>
        </div>
        <div class="sigin" id="for-sigin" style="display: none">
            <form>
                <div class="message">
                    <div class="message-div">账号</div>
                    <div class="message-input"><input class="message-text" type="text" placeholder="username"
                                                      autocomplete="off"></div>
                </div>
                <div class="message">
                    <div class="message-div">密码</div>
                    <div class="message-input"><input class="message-text" type="password" placeholder="password"
                                                      autocomplete="off"></div>
                </div>
            </form>
            <button class="but">注册</button>
        </div>
    </div>
</div>
<script src="../static/jquery.min.js"></script>
<script src="../static/main.js"></script>
</body>
</html>


